@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
    background-image: url("../public/assets/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}